<h2>Hello {{ student_obj.name }}</h2>

<h3>Your courses this semester</h3>
<ul>
	{% for courses in your_courses %}
	

	<li>{{courses.course_id.course_id}}: {{courses.course_id.title}} (LTP: {{courses.course_id.credit_struct}}) (Slot: {{courses.slot}})</li>
	
	{% endfor %}
</ul>
<h3>Department: {{student_obj.dept_id.dept_name}}</h3>
<h3>Current Year: {{student_obj.current_year}}</h3>
<h3>Current Semester: {{ student_obj.current_sem }}</h3>
<h3>Your Grade:  {{student_obj.cgpa}}</h3>
<h3>Current Registered Credits: {{student_obj.curr_registered_credits}}</h3>
<h3>Max Credit(This semester): {{student_obj.max_credit}}</h3>
<h3>Total Credits Passes: {{student_obj.total_credits}}</h3>
<a href="{% url 'studentportal:view_grades'%}">View Grades</a>
{% if crp_open %}
<a href="{% url 'studentportal:register_courses'%}">Register Courses</a>
{% endif %}
<br>
<br>
<br>

<a href="{% url 'studentportal:logout' %}">Logout</a>