
<body>
<h3>Select the courses you need to float and specify the required details</h3>


<form action="{% url 'facultyportal:add_course_float'%}" method="post">
  {% csrf_token %}

  Select a Course to be floated
  <div id="selector">
  <select name = "course_floated" id = "course_floated" required>
      <option value="">--</option>
  	   {% for courses in courses_not_floated %}
  		 <option value={{courses.course_id}}>{{courses.title}}</option>
       {% endfor %}
 
  </select> <br><br>
</div>
Write the slot
 <input name="slot" type="text" required> 
 <br><br>

Minimum CGPA criteria (1-10)
 <input type="number" name="min_cg" min="0" max="10" required>
 <br><br>
 
Select the batch
 <select name = "batches" multiple required>
   {% for batch in batch_obj %}
   <option value="{{batch.dept.dept_id}}+{{batch.year}}">{{batch.year}} {{batch.dept}}</option>
   {% endfor %}
 </select>
 <br>
 <br>

Select the prerequisite courses 
<div id="selector2">
  <select name = "prerequisite" id="prerequisite" multiple>
       {% for courses in courses_of_dept %}

       <option value={{courses.course_id}}>{{courses.title}}</option>
       {% endfor %}
 
  </select>
  </div>
<br><br>
<p id="demo"></p>
<input type="submit" name="Submit" value="submit">
</form>
<a href="{% url 'facultyportal:home'%}">Back to Home</a>

</body>