<h3>Student Catalogue</h3>

{% for dept_obj in dept_objs%}
<h3>{{dept_obj.dept_name}}</h3>
<ul>
	{% for students in student_objs %}
	{% if students.dept_id.dept_id == dept_obj.dept_id %}
	<li>{{students.student_id}}: {{students.name}}<a href="/dean_staff_office/edit_student/{{students.student_id}}">Edit</a></li>
	{% endif %}
	{% endfor %}
</ul>


{% endfor %}

<a href="{% url 'dean_staff_office:add_student' %}">Add New Student</a>
<br>
<a href="{% url 'dean_staff_office:home' %}">Back to Home</a>